/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common---------------- */
html{
    scroll-behavior: smooth;
    /* hành vi cuộn */
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
/* important là độ ưu tiên trong css */
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row ::after{
    content: "";
    display: block;
    clear: both;
}
/* css này sẽ thay thế cho class clear bên html */
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.3333%;
}
.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}
.row-member-2{
    padding-top: 30px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
/* ===========Main============ */

#header{
    height: 46px;
    background-color: rgb(235, 100, 10);
    position: fixed;
    /*để cho header luôn bám dính ở trên đầu khi cuộn  */
    top: 0;
    left: 0;
    right: 0;
    /* 3 thuộc tính này cho vào cho chắc, để chắc chắn rằng 
    trên mọi trình duyêtj hiển thị đều hiển thị ở đúng vị trí như vậy */
    z-index: 1; 
    
}
#nav {
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
    /* list-style-type: bỏ chấm tròn mặc định của thẻ ul li */
}
#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
    /* relative là thuộc tính tương đối, không bị phụ thuộc vào đối tượng nào, 
    nó sẽ lấy đúng vị trí nó  nó đang đứng làm gốc tọa độ, 
    (nó phụ thuộc vào chính nó)*/
}

/* > : là con trực tiếp của thẻ  */
#nav > li > a{
  text-transform: uppercase; 
  /* viết hoa hết các thẻ a cấp 1 */
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    /* line-heigh dùng để căn giữa chữ theo  1 chiều cao  nhất định*/
    padding: 0 24px;
    /* padding: đêmj viền trên dưới:0 trái phải bằng 24px */
    /* display: inline-block; */
    /* inline thì sẽ không kế thừa chiều ngang nên sửa thành
    block */
    display: block;
    
}
#nav  li:hover  .subnav{
    display: block;
    /* display: block mạnh hơn display : none */
}

/* tip: không hover vào a khi hover 
vào a thì khi di chuột vào cấp 2 sẽ mất hover vào cấp 1  */
#nav > li:hover  > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: rgb(252, 206, 168);
}

#nav .subnav{
    display: none;
    min-width: 160px;
    /* tối thiểu nó sẽ dài 160px, content dài ra nó sẽ dài ra */
    position: absolute;
    top: 100%;
    /*top: 100%; luôn lấy 100% chiều cao của cha nó(ở đây là header) */
    left: 0;
    /* absolute: tuyệt đối */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 14px;
    line-height: 38px;
    /* dựng lại chiều cao cho thẻ a cấp 2 ( không phải chiều
    cao giống là 46px nữa */
}
#nav .fa {
    font-size: 14px;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 22px;
    /* đệm viền cho ô search */
    
}
/* fix cho giao diện mobile , để hiện menu button trên header*/
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    /* tạm thời ẩn đi */
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
}
#header .mobile-menu-btn:hover,
#header .search-btn:hover{
    background-color: rgb(238, 173, 130);
    cursor: pointer;
    /* đổi con trỏ chuột thành hình bàn tay */
}
#slider{
    /* min-height: 500px;
    background-color: rgb(235, 213, 142); */
    margin-top: 46px;
    /* ở bên trên, cho header có position : fix nên slider sẽ bao 
    phủ lên cả header, trong khi đó mình muốn slider chỉ từ đưới header thôi
    ==> dùng margin-top 46px (46px là chiều cao của header) */
    padding-top: 50%;
    /*để ảnh luôn có kích thước bằng 1 nửa chiều cao của trình duyêt */
    /* 50%: là 50% của chính nó( tỉ lệ theo chiều ngang của chính nó */
    background: url(./img/slider/banner_runnning\ man.jpg) top center /cover no-repeat;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    /* đẩy sang trái đấy sang phải là nó sẽ căn giữa */
    padding-left: 16px;
    padding-right: 16px;
    /* fix cho hiển thị trên tablet */
}
.banner-section img{
    width: 100%;
    margin-top: 112px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    /* cho chữ mỏng đi */
    text-align: center;
    letter-spacing: 4px;
    /* khoảng cách giữa các chữ */
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    /* căn giữa */
    margin-top: 25px;
    font-style: italic;
    /* kiểu chữ: nghiêng */
    opacity: 0.6;
    /* làm mờ */

}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* căn đều lề 2 bên, chữ không bị thò thụt */
    line-height: 1.6;
    /* khoảng cách giữa 2 dòng chữ */
    /* tip: tiếng anh là 1.4 , tiếng việt là 1.6*/
}
#content .about-text-2{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-iem{
    /* float: left; */
    /* --bỏ vì sẽ thay băng col */
    /* kéo tất cả ảnh sang trái */
    /* width: 33.333333%; */
    /* bỏ sẽ thay băngf col-third */
    /* text-align: center; */
    /* padding-top: 0;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px; */
    transition: 0.3s ease-in-out;
}
#content .member-list{
    padding-top: 48px;
    
}
#content .member-name{
    /* font-size: 15px; */
    
}
#content .member-img{
    width: 230px;
    height: 300px;
    border-radius: 15px;
    /* transition: all 0.3s ease-in-out;
     */
}
/* #content .member-name{
    position: absolute;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    bottom: 0;
    left: 50%;
    text-transform: uppercase;
    font-size: 20px;
    transform: translateX(-50%);
} 
 #content .member-name:hover{
    bottom: 40%;
} */

#content .member-img:hover{
    transform: scale(1.1);
    /* phóng to lên 10% */
    opacity: 0.8;
    background-color: rgb(230, 194, 164);
}

.member-list .member-img {
    width: 80%;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
}
img {
    border-style: none;
}
/* ======================Event section ============= */
.event-section{
    background-color: rgb(235, 100, 10);
}
.watch-list{
    background-color: #fff;
    margin-top: 16px;
    list-style: none;
}
.watch-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.watch-list .end{
    background-color: #f44336;
    color: #fff;
    padding: 4px 5px;
    margin-left: 13px;
   
}
.watch-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #f44336;
    color: #fff;
    /* màu của chữ */
    border-radius: 50%;
    text-align: center;
    /* chữ căn giữa từ trái sang phải */
    line-height: 24px;
    /* căn giữa theo chiều cao */
    margin-top: -3px;
    /* phải có thuôc tính float mới dùng được margin-top */

}
/* ---------Video -------- */
.video-img{
    /* width: 250px; */
    width: 100%;
    height: 185px;
    display: block;
    /* có khoảng trống nhỏ giữa 2 thẻ do bị ảnh hưởng bỏi thẻ img có 
    thuộc tính desplay : inline-block  */
}
.video-img:hover{
    opacity: 0.7;
    /* làm mờ */
}
.video-list{
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    margin-top: 32px;
    margin-bottom: 48px;
    /* padding-bottom: 48px; */
}
/* .video-item{
   
    width: 33.333%;
    
} */
/* thay thế băng col-third */
.video-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    /* cỡ chữ */
}
.video-heading{
   
    font-weight: 600;
}
.video-time{
    margin-top: 15px;   
    color: #757575;   
}
.video-decs{
    margin-top: 15px;  
    line-height: 1.4;  
    /* khoảng cách giữa 2 dòng */
}
.video-decs-2{
    margin-top: 7px;
}
.btn{
    color: #fff;
    background-color: #f44336;
    text-decoration: none;
    /* bỏ gạch chân */
    padding: 11px 16px;
    display: inline-block;
    /* button không bị đè lên */
    margin-top: 15px;
    border-style: outset;
    border: none;
    margin-top: 4px;
    appearance: none;
    /* dành cho trình duyệt bình thường */
    -webkit-appearance: none;
    /* dành cho safari */
}
.btn:hover{
    color: #000;
    background-color: rgb(235, 209, 125);
    cursor: pointer;
}
/*.......... Modal ..............*/
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    /* display: flex; */
    
    align-items: center;
    /* để con nằm giữa cha (theo chiều cao) */
    justify-content: center;
    /* để con nămf giữa cha (theo chiều ngang) */
    display: none;
    /* ẩn modal đi nà */
}
.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    /* chiều cao tối thiểu */
    position: relative;
    max-width: calc(100%-32px);
    /* chiều rộng tối thiểu, tác dụng khi thu nhỏ trình duyệt mỗi bên 
    vấn được padding 16px(16px+16= 32px) */
    animation: modalFadeIn ease 0.3s;
}
header.modal-header{
    background-color: rgb(235, 100, 10);
    height: 130px;
    display: flex;
    align-items: center;
    /* căn giữa theo chièu cao */
    justify-content: center;
    font-size: 30px;
    color:#fff;
}
.modal-heading-icon{
    margin-right: 10px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#agree-btn{
    background-color: rgb(235, 100, 10);
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#agree-btn:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: rgb(70, 135, 233);
}
/* ================================== */
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
/* Log in form  */
.login-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="fa"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    color: #fff;
    background-color:#000;
    border: 1px solid #000 ;
    padding: 10px 16px;
    float: right;
    margin-right: 6px;
}
/* keyframes: để tạo ra chuyển động */
/* ===================Footer Section ========*/
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social{
    font-size: 24px;
}
#footer .social a{
    color: rgba(0, 0, 0, 0.6);
}
#footer .social a:hover,#footer .copyright a:hover{
    color:rgba(0, 0, 0, 0.3);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

/* fall flower */
.flower img{
    width: 30px;
    animation: flower 20s linear infinite;
}
.flower{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    /* top: 0; */
}
@keyframes flower{
    0%{
        transform: translate(0);
        opacity: 0;
    }
    50%{
       
        opacity: 1;
    }
    70%{
        
        opacity: 0.5;
    }
    100%{
        transform: translateY(80vh);
        opacity: 0.3;
    }
}
.flower img:nth-child(1){
    animation-delay: 2s;
}
.flower img:nth-child(2){
    animation-delay: 1s;
}
.flower img:nth-child(3){
    animation-delay: 3s;
}
.flower img:nth-child(4){
    animation-delay: 4.5s;
}
.flower img:nth-child(5){
    animation-delay: 2s;
}
.flower img:nth-child(6){
    animation-delay: 3s;
}
.flower img:nth-child(7){
    animation-delay: 6s;
}
.flower img:nth-child(8){
    animation-delay: 7s;
}
.flower img:nth-child(9){
    animation-delay: 2s;
}
.flower img:nth-child(10){
    animation-delay: 1.5s;
}
.flower img:nth-child(11){
    animation-delay: 5s;
}
.flower img:nth-child(12){
    animation-delay: 7s;
}
.flower img:nth-child(13){
    animation-delay: 2.6s;
}
.flower img:nth-child(14){
    animation-delay: 9s;
}
.flower img:nth-child(15){
    animation-delay: 2.11s;
}





